# dependencies
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
*.log

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IDEs
.idea

# MacOS
.DS_Store

# GGA
.gga

# cache
cache/

# SQLite
*.sqlite
*.sqlite-shm
*.sqlite-wal

# exports
exports/

# reports
.reports/
.report/

# docs
docs-*/

# Claude
.claude/
